%nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars
      %a.navbar-brand.page-scroll{:href => "#page-top"}
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        %li
          %a.page-scroll{:href => "#page-top"} Home
        %li
          %a.page-scroll{:href => "#about"} About
        %li
          %a.page-scroll{:href => "#our-work"} Our Work
        %li
          %a.page-scroll{:href => "#contact"} Contact
%header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading Cottonwood Coding
          %p.intro-text
            We build AWESOME custom websites from the ground up.
            %br
          %a.btn.btn-circle.page-scroll{:href => "#about"}
            %i.fa.fa-angle-double-down.animated
%section#about.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 About Cottonwood Coding
      %p
        Coming Soon!
      %a.btn.btn-circle.page-scroll{:href => "#our-work"}
        %i.fa.fa-angle-double-down.animated
%section#our-work.content-section.text-center
  .our-work-section
    .container
      .col-lg-8.col-lg-offset-2
        %h2 Our Work
        %p Coming Soon!
        %a.btn.btn-circle.page-scroll{:href => "#contact"}
          %i.fa.fa-angle-double-down.animated
%section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Contact Us
      %p Feel free to email us to provide some feedback.
      %p
        %a{:href => "mailto:feedback@cottonwoodcoding.com"} feedback@cottonwoodcoding.com
      %ul.list-inline.banner-social-buttons
        %li
          %a.btn.btn-default.btn-lg{:href => "https://facebook.com/cottonwoodcoding", target: '_blank'}
            %i.fa.fa-facebook.fa-fw
            %span.network-name Facebook
        %li
          %a.btn.btn-default.btn-lg{:href => "https://twitter.com/cottonwoodcoding", target: '_blank'}
            %i.fa.fa-twitter.fa-fw
            %span.network-name Twitter
        %li
          %a.btn.btn-default.btn-lg{:href => "https://github.com/cottonwoodcoding", target: '_blank'}
            %i.fa.fa-github.fa-fw
            %span.network-name Github
%footer
  .container.text-center
    %p Copyright &copy; Cottonwood Coding 2014
    %a.btn.btn-circle.page-scroll{:href => "#page-top"}
      %i.fa.fa-angle-double-up.animated
