@font-face {
  font-family: 'Novecento';
  src:url('Novecentowide-Normal.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Bold';
  src: font-url('Novecentowide-Bold.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-DemiBold';
  src: font-url('Novecentowide-DemiBold.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Medium';
  src: font-url('Novecentowide-Medium.otf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Novecento-Light';
  src: font-url('Novecentowide-Light.otf');
  font-weight: normal;
  font-style: normal;
}

.font-n {
  font-family: 'Novecento';
}

.font-b {
  font-family: 'Novecento-Bold';
}

.font-db {
  font-family: 'Novecento-DemiBold';
}

.font-m {
  font-family: 'Novecento-Medium';
}

.font-l {
  font-family: 'Novecento-Light';
}

.bootbox {
  .modal-content {
    background-color: lightgray;
  }
  .modal-footer {
    button {
      background-color: black;
    }
  }
}
